<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/suividette</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <mapping resource="Model/Tranche.hbm.xml"/>
    <mapping resource="Model/Caissedepret.hbm.xml"/>
    <mapping resource="Model/Projet.hbm.xml"/>
    <mapping resource="Model/Echeance.hbm.xml"/>
    <mapping resource="Model/Lignebudgetaire.hbm.xml"/>
    <mapping resource="Model/Service.hbm.xml"/>
    <mapping resource="Model/Convention.hbm.xml"/>
    <mapping resource="Model/Dette.hbm.xml"/>
    <mapping resource="Model/Facture.hbm.xml"/>
    <mapping resource="Model/Societe.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
